Django==6.0.4
faster-whisper==1.1.1
djangorestframework==3.16.0
drf-spectacular==0.29.0
django-cors-headers==4.7.0
django-filter==25.1
channels[daphne]==4.2.0
channels-redis==4.2.1
redis==5.2.1
psycopg[binary]==3.2.10
httpx==0.28.1
python-decouple==3.8
django-prometheus==2.3.1
python-json-logger==2.0.7
markdown==3.7
python-bidi==0.6.7
xhtml2pdf==0.2.16
