{% load i18n %}
{% if app_list %}
  <div class="app-list">
    {% for app in app_list %}
      <div class="app-{{ app.app_label }} module">
        <table>
          <caption>
            {% if app.app_url %}
              <a href="{{ app.app_url }}" class="section">{{ app.name }}</a>
            {% else %}
              {{ app.name }}
            {% endif %}
          </caption>
          {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
              <th scope="row">
                {% if model.admin_url %}
                  <a href="{{ model.admin_url }}">{{ model.name }}</a>
                {% else %}
                  {{ model.name }}
                {% endif %}
              </th>
              <td></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  </div>
{% endif %}
