DB_HOST=localhost
DB_PORT=5432
DB_NAME=aura_db
DB_USER=aura_root
DB_PASSWORD=aura_password
DB_DRIVER=postgresql+psycopg2

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=aura_root
MINIO_SECRET_KEY=aura_password
MINIO_SECURE=false

TEXT_CLEANER_TYPE=BASIC
TEXT_SPLITTER_TYPE=RECURSIVE
EMBEDDER_TYPE=OLLAMA

VECTOR_DIMENSION=768

SPLIT_SIZE=600
SPLIT_OVERLAP=60

MAX_FILE_SIZE_MB=20

ENVIRONMENT=development
