{% extends "admin/base_site.html" %}
{% load i18n %}
{% load admin_urls %}

{% block title %}Enviar Notificación{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Inicio</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; Enviar Notificación
</div>
{% endblock %}

{% block content %}
<h1>Enviar Notificación</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-row">
        {{ form.as_p }}
    </div>
    <div class="submit-row">
        <input type="submit" value="Enviar" class="default">
        <a href="{% url opts|admin_urlname:'changelist' %}" class="button cancel-link">Cancelar</a>
    </div>
</form>
{% endblock %}
